/* Global */

body {
  background-color: #373530;
  color: #373530;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.1;
}

h3 {
  font-family: 'Gruppo', cursive;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
}

hr {
    border-style: solid;
    border-width: 1px;
}

/* Container */

.container-fluid {
  padding: 3% 4%;
}

/* Navigation */

.navbar {
  padding: 0 0 1.5rem;
}

.navbar-brand {
  color: #373530;
  font-family: 'Gruppo', cursive;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 5px;
  padding-bottom: 1.45rem;
  padding-top: 0;
  text-align: left;
}

@media (max-width: 991px) {
  .navbar-brand {
    text-align: center;
  }
}

.navbar-signet {
  padding-bottom: 1.8rem;
  padding-right: 10px;
}

@media (max-width: 640px) {
  .navbar-signet {
    display: none;
  }
  .navbar-brand {
    text-align: left;
  }
}

.navbar-subheadline {
  color: rgba(0,0,0,.5);
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08rem;
}

.nav-item {
  padding-left: 0 20px;
  width: 150px;
}

@media (min-width: 992px) {
  .nav-item {
    padding-left: 20px;
    text-align: right;
  }
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

@media (max-width: 991px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/* Title */

.button-cta {
  background-color: #599EFF;
  border-radius: 5px;
  color: #373530;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 5% 3% 5% 0;
}

.button-cta-oben {
  background-color: #599EFF;
  border-radius: 5px;
  color: #373530;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 5% 0;
}

.button-contact {
  border-radius: 5px;
  color: #373530;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 5% 3% 5% 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ooo' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  margin-top: 20px;
  position: static;
  text-indent:0;
}

.carousel-indicators li {
      text-indent:0;
      width: 200px;
      height: 40px;
      border:none;
      background-color: transparent;
      padding-left: 5px;
      padding-right: 5px;
}

.carousel-indicators .active {
  background-color: transparent;
  color: #373530;
  text-indent:0;
}

.carousel-inner {
  height: 250px;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.carousel-item {
  text-align: center;
}

.img-title {
  border-radius: 5px;
}

.title-text {
  padding: 4% 2% 7% 2%;
}

#title {
  background-color: #f5f5f5;
  margin-top: 3px;
  text-align: center;
}

/* Services */

#services {
  background-color: #599EFF;
  padding: 3% 2%;
}

.service-example {
  padding: 5% 2%;
  text-align: center;
}

.service-icon {
  margin-bottom: 1rem;
}

.service-icon:hover {
  color: #45b1d9;
}

.service-headline {
  font-weight: 700;
  line-height: 1.5;
  margin: 10px;
}

.service-text {
  color: #666666;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2;
}

/* Testimonials */

#testimonials {
  background-color: #f5f5f5;
  text-align: center;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 100px;
}

.testimonial-item {
  height: 70%;
  padding: 7% 15%;
}

/* Footer */

#footer {
  background-color: #373530;
  color: #8f8f8f;
  text-align: center;
}

.footer-bar {
  padding: 2% 1%;
}

.footer-fc {
  margin-bottom: 20px;
  width: 200px;
}

.footer-line {
  border-color: #484848;
}

.footer-link {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2;
  text-decoration: none;
}

.footer-link:link {
  color: #8f8f8f;
  text-decoration: none;
}

.footer-link:visited {
  color: #8f8f8f;
  text-decoration: none;
}

.footer-link:active {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.footer-link-lg {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
}

.footer-link-lg:link {
  color: #8f8f8f;
  text-decoration: none;
}

.footer-link-lg:visited {
  color: #8f8f8f;
  text-decoration: none;
}

.footer-link-lg:active {
  color: #fff;
  text-decoration: none;
}

.footer-link-lg:hover {
  color: #fff;
  text-decoration: none;
}

.footer-text {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.4;
}

/*
.sitemap {
  padding: 2% 1%;
}
*/
