/* Global */

body {
  background-color: #20252a;
  color: #20252a;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Solway', serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2.1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.1;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}

hr {
    border-style: solid;
    border-width: 1px;
}

/* Container */

.container-fluid {
  padding: 3% 4%;
}

/* Navigation */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  color: #20252a;
  font-family: 'Solway', serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.6;
  margin-right: 5px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title */

.button-cta {
  border-radius: 25px;
  margin: 5% 3% 5% 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ooo' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  margin-top: 20px;
  position: static;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-item {
  text-align: center;
}

.img-title {
  border-radius: 100%;
  max-width: 400px;
  width: 70%;
}

.title-text {
  padding: 7% 2% 10% 2%;
}

#title {
  background-color: #f5f5f5;
  text-align: center;
}

/* Services */

#services {
  background-color: #fff;
  padding: 3% 2%;
}

.service-example {
  padding: 5% 2%;
  text-align: center;
}

.service-icon {
  margin-bottom: 1rem;
}

.service-icon:hover {
  color: #45b1d9;
}

.service-headline {
  font-weight: 700;
  line-height: 1.5;
  margin: 10px;
}

.service-text {
  color: #666666;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2;
}

/* Testimonials */

#testimonials {
  background-color: #f5f5f5;
  text-align: center;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 100px;
}

.testimonial-item {
  height: 70%;
  padding: 7% 15%;
}

/* Footer */

#footer {
  background-color: #20252a;
  color: #8f8f8f;
  text-align: center;
}

.footer-bar {
  padding: 2% 1%;
}

.footer-fc {
  margin-bottom: 20px;
  width: 200px;
}

.footer-line {
  border-color: #484848;
}

.footer-link {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2;
  text-decoration: none;
}

.footer-link:link {
  color: #8f8f8f;
  text-decoration: none;
}

.footer-link:visited {
  color: #8f8f8f;
  text-decoration: none;
}

.footer-link:active {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.footer-link-lg {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
}

.footer-link-lg:link {
  color: #8f8f8f;
  text-decoration: none;
}

.footer-link-lg:visited {
  color: #8f8f8f;
  text-decoration: none;
}

.footer-link-lg:active {
  color: #fff;
  text-decoration: none;
}

.footer-link-lg:hover {
  color: #fff;
  text-decoration: none;
}

.footer-text {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.4;
}

/*
.sitemap {
  padding: 2% 1%;
}
*/
